<div class="main-card">
  <!-- Rating state start -->
  <div *ngIf="ratingButton.notRated" class="rating-card">
    <div class="star-div">
      <img class="star-icon" src="../assets/images/icon-star.svg">
    </div>
    <h1>How did we do?</h1>
    <p>Please let us know how we did with your support request. All feedback is appreciated
    to help us improve our offering!</p>
    <div class="ratings">
      <div (click)="ratingButton.selectRating(1, $event)" class="rating">1</div>
      <div (click)="ratingButton.selectRating(2, $event)" class="rating">2</div>
      <div (click)="ratingButton.selectRating(3, $event)" class="rating">3</div>
      <div (click)="ratingButton.selectRating(4, $event)" class="rating">4</div>
      <div (click)="ratingButton.selectRating(5, $event)" class="rating">5</div>
    </div>
    <button (click)="ratingButton.submitButton($event)" class="submit-btn"><a [routerLink]="['/result']">SUBMIT</a></button><br>
  </div>

  <!-- Rating state end -->

  <result-card (rate)="ratingButton.rateAgainFunc()" [rating]="ratingButton.result"></result-card>
</div>