/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}